<template>
  <div>
    <v-subheader>Wishlist</v-subheader>

    <v-list dense>
      <v-list-group v-for="item in items" :key="`wishlist-item-${item.id}`">
        <template #activator>
          <v-list-item-content>
            <v-list-item-title v-text="`${item.title} (${item.quantity})`" />
          </v-list-item-content>
        </template>

        <v-list-item>
          <v-list-item-content>
            <v-text-field
              type="number"
              outlined
              dense
              label="Quantity"
              hide-details
              :min="1"
              :loading="loading"
              :readonly="loading"
              :value="item.quantity"
              @blur="(quantity) => onQuantityChange(quantity, item)"
            />
          </v-list-item-content>

          <v-list-item-action>
            <v-btn
              icon
              small
              title="Remove from wishlist"
              :loading="loading"
              @click.stop="() => onDeleteClick(item.id)"
            >
              <v-icon color="red">
                mdi-delete-forever
              </v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
      </v-list-group>
    </v-list>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import { IWishlistItem, TWishlist } from '~/types'

export default defineComponent({
  computed: {
    loading(): boolean {
      return this.$store.state.loading
    },
    items(): TWishlist {
      return this.$store.state.wishlist.items
    },
  },
  methods: {
    onQuantityChange(quantity: IWishlistItem['quantity'], item: IWishlistItem) {
      const payload = {
        ...item,
        quantity: Number(quantity),
      }

      this.$store.dispatch('wishlist/updateWishlistItem', payload)
    },
    onDeleteClick(id: IWishlistItem['id']) {
      this.$store.dispatch('wishlist/removeFromWishlist', id)
    },
  },
})
</script>
