<template>
  <div>
    <svg height="175.333" viewBox="0 0 656.667 175.333" width="656.667" xmlns="http://www.w3.org/2000/svg" aria-label="Divotion company logo" class="logo">
      <title>Divotion logo</title>
      <desc>Divotion company logo</desc>
      <g class="logo__text" :fill="fill">
        <path d="m238.972 41.862v90.459h-17.748v-9.165c-2.244 3.248-5.028 5.704-8.352 7.366-3.326 1.664-7.116 2.494-11.368 2.494-5.878 0-11.04-1.334-15.486-4.002-4.448-2.668-7.888-6.438-10.324-11.31s-3.654-10.478-3.654-16.82c0-6.264 1.198-11.792 3.596-16.588 2.396-4.794 5.8-8.506 10.208-11.136 4.408-2.628 9.472-3.944 15.196-3.944 8.816 0 15.544 3.288 20.184 9.86v-37.214zm-22.098 71.957c2.9-3.208 4.35-7.366 4.35-12.47s-1.45-9.26-4.35-12.47c-2.9-3.208-6.632-4.814-11.194-4.814-4.64 0-8.41 1.606-11.31 4.814-2.9 3.21-4.39 7.366-4.466 12.47.076 5.104 1.566 9.262 4.466 12.47 2.9 3.21 6.67 4.814 11.31 4.814 4.562 0 8.294-1.604 11.194-4.814z"></path>
        <path d="m274.27 44.646c1.816 1.856 2.726 4.254 2.726 7.192 0 2.939-.91 5.336-2.726 7.192-1.818 1.856-4.158 2.784-7.018 2.784-2.784 0-5.086-.946-6.902-2.842-1.818-1.894-2.726-4.272-2.726-7.134 0-2.938.908-5.336 2.726-7.192 1.816-1.856 4.118-2.784 6.902-2.784 2.86 0 5.2.928 7.018 2.784zm-15.893 25.308h17.864v62.408h-17.864z"></path>
        <path d="m285.476 70.07 18.444-.116 14.732 45.472 14.615-45.472h17.748l-23.548 62.408h-18.327z"></path>
      </g>
      <g class="logo__text" :fill="fill">
        <path d="m406.234 73.598c4.838 2.675 8.613 6.393 11.328 11.151 2.715 4.76 4.07 10.207 4.07 16.343s-1.355 11.604-4.07 16.402c-2.715 4.799-6.49 8.537-11.328 11.21-4.838 2.676-10.365 4.012-16.578 4.012-6.295 0-11.859-1.336-16.697-4.012-4.838-2.673-8.614-6.39-11.328-11.151-2.715-4.759-4.071-10.246-4.071-16.461 0-6.136 1.356-11.583 4.071-16.343 2.714-4.759 6.49-8.476 11.328-11.151 4.838-2.673 10.402-4.012 16.697-4.012 6.213 0 11.74 1.339 16.578 4.012zm-27.494 8.378c-3.186 1.888-5.664 4.504-7.434 7.847-1.77 3.345-2.655 7.139-2.655 11.387 0 4.327.886 8.183 2.655 11.564 1.77 3.383 4.248 6 7.434 7.847 3.187 1.85 6.824 2.773 10.916 2.773 4.012 0 7.609-.924 10.797-2.773 3.186-1.847 5.664-4.463 7.434-7.847 1.77-3.381 2.654-7.237 2.654-11.564 0-4.248-.885-8.042-2.654-11.387-1.77-3.343-4.248-5.959-7.434-7.847-3.188-1.888-6.785-2.832-10.797-2.832-4.092.001-7.729.944-10.916 2.832z"></path>
        <path d="m466.484 128.232c-4.799 3.068-9.676 4.602-14.633 4.602-4.955 0-8.967-1.475-12.035-4.425s-4.602-7.414-4.602-13.393v-34.989h-8.852v-10.087h8.852v-14.632h11.092v14.632h19.115v10.087h-19.115v32.983c0 3.462.629 5.94 1.887 7.434 1.258 1.495 3.146 2.242 5.664 2.242 2.988 0 6.215-.983 9.676-2.95z"></path>
        <path d="m489.559 43.868c1.297 1.338 1.945 3.029 1.945 5.074 0 2.047-.648 3.737-1.945 5.074-1.299 1.338-2.932 2.006-4.898 2.006s-3.598-.667-4.896-2.006c-1.299-1.337-1.947-3.027-1.947-5.074 0-2.044.648-3.735 1.947-5.074 1.299-1.337 2.93-2.006 4.896-2.006s3.599.669 4.898 2.006zm-10.327 26.072h10.975v62.422h-10.975z"></path>
        <path d="m552.662 73.598c4.838 2.675 8.613 6.393 11.328 11.151 2.715 4.76 4.07 10.207 4.07 16.343s-1.355 11.604-4.07 16.402c-2.715 4.799-6.49 8.537-11.328 11.21-4.838 2.676-10.365 4.012-16.578 4.012-6.295 0-11.859-1.336-16.697-4.012-4.838-2.673-8.615-6.39-11.328-11.151-2.715-4.759-4.072-10.246-4.072-16.461 0-6.136 1.357-11.583 4.072-16.343 2.713-4.759 6.49-8.476 11.328-11.151 4.838-2.673 10.402-4.012 16.697-4.012 6.213 0 11.74 1.339 16.578 4.012zm-27.494 8.378c-3.186 1.888-5.664 4.504-7.434 7.847-1.77 3.345-2.654 7.139-2.654 11.387 0 4.327.885 8.183 2.654 11.564 1.77 3.383 4.248 6 7.434 7.847 3.186 1.85 6.824 2.773 10.916 2.773 4.012 0 7.609-.924 10.797-2.773 3.186-1.847 5.664-4.463 7.434-7.847 1.77-3.381 2.654-7.237 2.654-11.564 0-4.248-.885-8.042-2.654-11.387-1.77-3.343-4.248-5.959-7.434-7.847-3.188-1.888-6.785-2.832-10.797-2.832-4.092.001-7.73.944-10.916 2.832z"></path>
        <path d="m633.668 76.017c4.17 4.289 6.254 10.207 6.254 17.759v38.586h-10.973v-35.636c0-5.269-1.477-9.381-4.426-12.331s-7.021-4.425-12.213-4.425c-5.586.08-10.129 1.87-13.629 5.369-3.502 3.501-5.488 8.044-5.959 13.629v33.394h-10.975v-62.422h10.975v13.216c4.168-8.889 12.074-13.412 23.717-13.57 7.317 0 13.059 2.144 17.229 6.431z"></path>
      </g>
      <path d="m54.575 60.164-35.204 97.747 20.061-3.537 28.272-78.518z" fill="#00bce4"></path>
      <path d="m149.208 116.865-20.111 3.678-62.403 11.003-7.009 19.257 82.584-14.562 20.214-3.564z" fill="#5d6c77"></path>
      <path d="m69.074 21.355-7.113 19.54 53.998 63.964 20.214-3.565z" fill="#2dc84d"></path>
    </svg>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'DivotionLogo',
  computed: {
    fill(): string | undefined {
      return this.$vuetify?.theme?.dark ? 'white' : undefined
    },
  },
})
</script>


<style>
.logo {
  height: 3rem;
  width: auto;
}
</style>
