<template>
  <v-app dark>
    <v-app-bar
      fixed
      app
    >
      <v-container>
        <v-row no-gutters class="align-center">
          <NuxtLink to="/">
            <LogoDivotionLogo />
          </NuxtLink>

          <v-spacer />

          <v-chip
            title="Toggle wishlist"
            color="primary"
            text-color="white"
            :outlined="!numWishlistItems"
            @click.stop="drawer = !drawer"
          >
            {{ numWishlistItems }}
            <v-icon right>
              {{ wishlistIcon }}
            </v-icon>
          </v-chip>
        </v-row>
      </v-container>
    </v-app-bar>

    <v-main>
      <v-container class="fill-height">
        <Nuxt />
      </v-container>
    </v-main>

    <v-navigation-drawer
      v-model="drawer"
      right
      temporary
      fixed
    >
      <WishlistList />
    </v-navigation-drawer>

    <v-footer app>
      <span>&copy; {{ new Date().getFullYear() }} | <a href="https://by-dennis.nl/" target="_blank">Dennis de Vries</a></span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    drawer: false,
    fixed: true,
    items: [
      {
        icon: 'mdi-apps',
        title: 'Welcome',
        to: '/'
      },
    ],
  }),
  computed: {
    numWishlistItems() {
      return this.$store.getters['wishlist/numItems']
    },
    wishlistIcon() {
      return this.numWishlistItems ? 'mdi-heart' : 'mdi-heart-outline'
    },
  },
}
</script>
