<template>
  <div>
    <v-card v-for="category in categories" :key="`product-category-${category}`" flat :loading="loading" class="mb-5">
      <v-card-title>
        <v-toolbar-title class="text-capitalize text-h4 font-weight-bold" v-text="category" />
      </v-card-title>

      <v-card-text>
        <ProductList :products="productCategoryMap[category]" />
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import useProducts from '@/composables/product/useProducts'

export default defineComponent({
  setup() {
    return useProducts()
  },
  computed: {
    loading(): boolean {
      return this.$store.state.loading
    },
  },
})
</script>
