<template>
  <v-card :loading="loading" outlined>
    <v-img
      v-if="product.filename"
      height="300"
      :src="product.filename"
    />

    <v-card-title v-if="product.title">
      <v-row no-gutters>
        <div v-text="product.title" />

        <v-spacer />

        <v-btn
          icon
          :title="wishlistIconTitle"
          :loading="loading"
          @click.stop="onWishlistClick"
        >
          <v-icon color="primary">{{ wishlistIcon }}</v-icon>
        </v-btn>
      </v-row>
    </v-card-title>

    <v-card-text>
      <v-row
        v-if="product.rating >= 0"
        align="center"
        class="mx-0"
        no-gutters
      >
        <v-rating
          :value="product.rating"
          color="primary"
          dense
          readonly
          size="16"
        />

        <div class="grey--text ms-4" v-text="product.rating" />
      </v-row>

      <div v-if="product.type" class="my-4 text-subtitle-1 text-capitalize" v-text="product.type" />

      <div v-if="product.price" class="my-4 text-h6 secondary--text">&euro; {{ product.price.toFixed(2) }}</div>
      <div v-else class="my-4 text-h6 secondary--text" v-text="'Free'" />

      <div v-if="product.desscription" v-text="product.description" />
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { defineComponent, PropType } from '@nuxtjs/composition-api'
import { IProduct, IWishlistItem } from '~/types'

export default defineComponent({
  props: {
    product: {
      type: Object as PropType<IProduct>,
      required: true,
    }
  },
  computed: {
    loading(): boolean {
      return this.$store.state.loading
    },
    isInWishlist(): boolean {
      return this.$store.state.wishlist.items.findIndex(({ id }: IWishlistItem) => id === this.product.id) > -1
    },
    wishlistIcon(): string {
      return this.isInWishlist ? 'mdi-heart' : 'mdi-heart-outline'
    },
    wishlistIconTitle(): string {
      return this.isInWishlist ? 'Remove from wishlist' : 'Add to wishlist'
    },
  },
  methods: {
    onWishlistClick() {
      if (!this.isInWishlist)
        this.$store.dispatch('wishlist/addToWishlist', this.product)
      else this.$store.dispatch('wishlist/removeFromWishlist', this.product.id)
    },
  },
})
</script>
