<template>
  <v-row>
    <v-col v-for="(product, i) in products" :key="`${product}-${i}`" sm="6" lg="4">
      <ProductListItem :product="product" class="ma-3" />
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { defineComponent, PropType } from '@nuxtjs/composition-api'
import { TProductList } from '~/types'

export default defineComponent({
  props: {
    products: {
      type: Array as PropType<TProductList>,
      default: () => [],
    },
  },
})
</script>
